.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-tricount {
  margin-top: 4%;
  width: 70%;
}

.button-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4%;
  width: 80%;
  padding: 4% 0;

  background-color: #424242;
  border-radius: 8px;

  text-decoration: none;
  color: white;
}

