header {
  display: flex;
  gap: 10%;
  position: fixed;
  align-items: center;
  top: 0;
  padding: 1rem 0;
  width: 100vw;
  max-width: 640px;
  background-color: #202020;
}

header>a {
  margin-left: 2%;
}

header img {
  width: 40px;
}

.content {
  margin: 15% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  max-width: 560px;
  margin-top: 2%;
  border: 2px solid #0091ff;
  border-radius: 20px;
}

.nav-item,
.nav-center {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
}

.nav-center {
  cursor: pointer;
  border-style: solid;
  border-color: #0091ff;
  border-top: 2px;
  border-bottom: 2px;
}

.form {
  width: 90vw;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item:first-child:hover {
  background-color: #0091ff;
  border-radius: 10px 0 0 10px;
}

.nav-center:hover {
  background-color: #0091ff;
  border-radius: 0 0 0 0;
}

.nav-item:last-child:hover {
  background-color: #0091ff;
  border-radius: 0 10px 10px 0;
}

.title {
  margin-top: 5%;
  width: 100%;
}

.title>p {
  margin-left: 2%;
}

.title-content {
  display: flex;
  justify-content: space-between;
}

.title-input {
  width: 70%;
  height: 4rem;
  padding: 0 5%;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: #303030;
}

.title-option {
  border-radius: 20px;
  background-color: #303030;
  aspect-ratio: 1;
  height: 4rem;
}

.amount {
  margin-top: 5%;
  width: 100%;
}

.amount>p {
  margin-left: 2%;
}

.amount-content {
  display: flex;
  justify-content: space-between;
}

.amount-input {
  width: 85%;
  height: 4rem;
  border: none;
  border-radius: 20px;
  padding: 0 5%;
  color: #ffffff;
  background-color: #303030;
}

.amount-option {
  border-radius: 20px;
  background-color: #303030;
  aspect-ratio: 1;
  height: 4rem;
}

.depenseInfo {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.depenseInfo>p,
.date>p {
  margin-left: 2%;
}

.depense-creator {
  width: 50%;
}

.depense-creator>p {
  margin-left: 2%;
}

.creator-input {
  width: 100%;
  height: 4rem;
  padding: 0 4%;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: #303030;
}

.date {
  width: 48%;
}

.date>p {
  margin-left: 2%;
}

.date-input {
  width: 100%;
  height: 4rem;
  padding: 0 5%;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: #303030;
}

.sharing {
  display: flex;
  justify-content: space-between;
  margin: 4% 0;
  width: 85%;
}

.share-type-input {
  aspect-ratio: 1;
  height: 2rem;
}

.share-type-option {
  border: 0;
  color: #ffffff;
  background-color: #202020;
}

.all-contributor {
  width: 100%;
  padding: 0 5%;
  color: #ffffff;
  border-radius: 20px;
  background-color: #303030;
}

.contributor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}

.contributor:not(:nth-child(1)) {
  border-top: #626262 solid 2px;
}

.contributor-left {
  display: flex;
  gap: 2vw;
}

.contributor-input {

  width: 100%;
  height: 100%;
}

.contributor-name {
  align-self: center;
}

.date-input:focus {
  align-self: center;
}

.save {
  position: fixed;
  bottom: 2vh;
  left: 1.5rem;
  width: 90%;
  max-width: 560px;
  padding: 1rem 0;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  background-color: #0091ff;
}